* {
	/*outline: none !important;*/
	box-sizing: border-box;
}
*:focus {
    /*outline: -webkit-focus-ring-color solid 5px !important;*/
    outline-color: transparent !important;
}
body {
	margin: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    border-style: none;
    background-color: #232028;
}
p {
	font-family: Roboto,sans-serif;
    color: #666;
    line-height: 26px;
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
}
#counter {
	font-family: Arial,Helvetica,sans-serif;
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #b2b2b2;
	background-color: #232028;
	width: 100%;
	height: 40px;
	vertical-align: middle;
	text-align: right;
	padding-top: 10px;
}
.title {
	padding: 20px 0;
}
.container {
	background-color: #f8f8f8;
	width: 1745px;
	max-width: 100%;
	padding: 0 15px;
	font-family: Roboto,sans-serif;
    color: #666;
    line-height: 26px;
    text-align: left;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.caract {
	font-size: 12px;
	text-align: right;
	margin: 0;
	padding: 0 10px 0 0;
	float: right;
	width: 90%
}

.clarification 	{
	font-size: 12px;
	text-align: left;
	margin: 0;
	padding: 0 0 0 3px;
    float: right;
    width: 100%;
}

button {
	border-radius: 4px;
    background-color: #78dcd6;
    font-family: Lato,sans-serif;
    color: #232028;
	font-size: 16px;
    font-weight: 300;
	text-decoration: none !important;
	padding: 8px 12px;
	display: inline-block;
	line-height: 25px;
	border: none;
}

table, th {
	font-size: 22px;
	text-align: center;
	line-height: 25px;
	text-transform: uppercase;
	width: 100%;
	align-content: center;
	padding: 15px 0;
}

td div{
	width: 65%;
	display: inline-flex;
	padding: 10px 0;
}

td div p {
	font-size: 16px;
	line-height: 20px;
	font-family: Arial,Helvetica,sans-serif;
	padding-left: 15px;
}

input {
  font-family: Lato,sans-serif;
  font-weight: normal;
}

input[type=file] {
  background-color: #ccc;
  border: none;
  color: #232028;
  padding: 	10px 12px;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 1200px) {
	}
@media (max-width: 767px) {
	 
	}
@media (max-width: 540px) {
	}